################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UtmaningenReg/bin
/UtmaningenReg/obj/Debug
/UtmaningenReg/obj/Release
/UtmaningenReg/Log
*.suo
