@{
    ViewBag.Title = "Du skickas nu vidare";
    Layout = "~/Views/Shared/_SimpleLayoutRedirect.cshtml";
}

<div style="width: 100%; height: 300px; text-align: center;">
    <h3>Anmälan är stängd!</h3>
    <span>Du skickas snart vidare till listan med anmälda lag</span>
</div>